<ProgramInfo>
  <RequiredInfo>
    <FriendlyName>WebSocketServer</FriendlyName>
    <SystemName>WebSocketServer</SystemName>
    <EntryPoint>WebSocketServer</EntryPoint>
    <MinFirmwareVersion>1.007.0017</MinFirmwareVersion>
    <ProgramTool>SIMPL# Plugin</ProgramTool>
    <DesignToolId>5</DesignToolId>
    <ProgramToolId>5</ProgramToolId>
    <ArchiveName />
  </RequiredInfo>
  <OptionalInfo>
    <CompiledOn>2017/2/6 16:49:01</CompiledOn>
    <CompilerRev>1.0.0.30269</CompilerRev>
  </OptionalInfo>
</ProgramInfo>